@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/*main color #1A142B, #392455, #C8D4E4, #291A43, #4D7290 */

.header-color {
  background: linear-gradient(90deg, #29237b 0%, #552032 53.65%, #962931 100%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  /* padding: 1rem; */
  color: #fff;
  height: 55px;
}

.footer-color {
  /* background-color: #333; */
  background-color: #0f0b18;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.content-color {
  background-color: #1a142b;
  /* height: 100vh; */
  overflow: auto;
  color: #fff;
}

.card-section {
  height: 40px;
  width: 235px;
  background: linear-gradient(
    91deg,
    #ff0e0e 0%,
    rgba(244, 55, 59, 0.94) 3.65%,
    rgba(82, 47, 96, 0.01) 100%
  );
  color: #fff;
  /* height: 40px !important; */
}

.font-size-section {
  font-size: 26px;
}

.font-color-more {
  font-size: 22px;
  color: #42d1c9;
}

.font-size-image {
  font-size: 24px;
  font-weight: bold;
}

.section-footer {
  width: 1000;
  height: 60;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.21);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.circle {
  width: 60px; /* Adjust this size as needed */
  height: 60px; /* Adjust this size as needed */
  background: linear-gradient(180deg, #fd3737 0%, #e62929 100%);
  border-radius: 50%; /* Make it a circle */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-size {
  font-size: 30px;
}
.text-circle {
  display: inline-flex;
  font-size: 24px;
  /* margin-left: 10px; */
}
/* .banner-main-header{
  background: green;
  padding: 150px;
} */
